<div class="card">
    <div class="card-header">
        Lista de Usuario de Puntos de Ventas
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb-0">
              <thead>
                <tr>
                  <th>
                    Usuario
                  </th>
                  <th class="date">
                    Fecha de Registro
                  </th>
                  <th>
                    Nombre
                  </th>
                  <th>
                    Apellido
                  </th>
                  <th>
                    Dirección
                  </th>
                  <th>
                    Correo
                  </th>
                  <th>
                    Teléfono
                  </th>
                  <th>
                    Estado
                  </th>
                  <th>
                    Editar
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-title="Usuario">
                    PVLOJA1
                  </td>
                  <td data-title="Fecha de Registro" class="date">
                    10/03/2018
                  </td>
                  <td data-title="Nombre">
                    Marco
                  </td>
                  <td data-title="Apellido">
                    Gomez
                  </td>
                  <td data-title="Dirección">
                    Carchi - Montufar - Fernandez Salvador
                  </td>
                  <td data-title="Correo" class="email">
                    mgomez@hotmail.com
                  </td>
                  <td data-title="Teléfono" class="numeric">
                    099883366
                  </td>
                  <td data-title="Estado" >
                    Activo
                  </td>
                  <td data-title="Editar">
                    <button class="btn btn-info btn-icon mr-1 mb-1" type="button">
                        <i _ngcontent-c5="" class="icon icon-software-pencil"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                    <td data-title="Usuario">
                        PVLOJA1
                    </td>
                    <td data-title="Fecha de Registro" class="date">
                        10/03/2018
                    </td>
                    <td data-title="Nombre">
                        Marco
                    </td>
                    <td data-title="Apellido">
                        Gomez
                    </td>
                    <td data-title="Dirección">
                        Carchi - Montufar - Fernandez Salvador
                    </td>
                    <td data-title="Correo" class="email">
                        mgomez@hotmail.com
                    </td>
                    <td data-title="Teléfono" class="numeric">
                        099883366
                    </td>
                    <td data-title="Estado" >
                        Activo
                    </td>
                    <td data-title="Editar">
                        <button class="btn btn-info btn-icon mr-1 mb-1" type="button">
                            <i _ngcontent-c5="" class="icon icon-software-pencil"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td data-title="Usuario">
                        PVLOJA1
                    </td>
                    <td data-title="Fecha de Registro" class="date">
                        10/03/2018
                    </td>
                    <td data-title="Nombre">
                        Marco
                    </td>
                    <td data-title="Apellido">
                        Gomez
                    </td>
                    <td data-title="Dirección">
                        Carchi - Montufar - Fernandez Salvador
                    </td>
                    <td data-title="Correo" class="email">
                        mgomez@hotmail.com
                    </td>
                    <td data-title="Teléfono" class="numeric">
                        099883366
                    </td>
                    <td data-title="Estado" >
                        Activo
                    </td>
                    <td data-title="Editar">
                        <button class="btn btn-info btn-icon mr-1 mb-1" type="button">
                            <i _ngcontent-c5="" class="icon icon-software-pencil"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td data-title="Usuario">
                        PVLOJA1
                    </td>
                    <td data-title="Fecha de Registro" class="date">
                        10/03/2018
                    </td>
                    <td data-title="Nombre">
                        Marco
                    </td>
                    <td data-title="Apellido">
                        Gomez
                    </td>
                    <td data-title="Dirección">
                        Carchi - Montufar - Fernandez Salvador
                    </td>
                    <td data-title="Correo" class="email">
                        mgomez@hotmail.com
                    </td>
                    <td data-title="Teléfono" class="numeric">
                        099883366
                    </td>
                    <td data-title="Estado" >
                        Activo
                    </td>
                    <td data-title="Editar">
                        <button class="btn btn-info btn-icon mr-1 mb-1" type="button">
                            <i _ngcontent-c5="" class="icon icon-software-pencil"></i>
                        </button>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>