<div class="card">
    <div class="card-header">Formulario de Pago</div>
    <div class="card-body">
        <p>Formulario de pago del Banco Pichincha</p>
        <div class="form-group row justify-content-md-center">
            <label for="example-text-input" class="col-2 col-form-label">Cédula del Depositante</label>
            <div class="col-4">
                <input class="form-control" type="numeric" placeholder="1890023467" id="cedula-pago">
            </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <label for="example-text-input" class="col-2 col-form-label">Nombre</label>
            <div class="col-4">
                <input class="form-control" type="text" placeholder="Nombre" id="nombre-pago">
            </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <label for="example-search-input" class="col-2 col-form-label">Apellido</label>
            <div class="col-4">
                <input class="form-control" type="text" placeholder="Apellido" id="apellido-pago">            
            </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <label for="example-search-input" class="col-2 col-form-label">Nº Depósito</label>
            <div class="col-4">
                <input class="form-control" type="numeric" placeholder="19123987000999" id="deposito-pago">            
            </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <label for="example-search-input" class="col-2 col-form-label">Orden Nº</label>
            <div class="col-4">
                <input class="form-control" type="numeric" placeholder="123" id="orden-pago">            
            </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <label for="example-search-input" class="col-2 col-form-label">Monto</label>
            <div class="col-4">
                <input class="form-control" type="text" placeholder="999.99" id="monto-pago">            
            </div>
        </div>
            <div class="form-group row justify-content-md-center">
                <button type="submit" class="btn btn-primary">Registrar Pago</button>
            </div>
           
    </div>
</div>