<div class="card">
        <div class="card-header">
            ZEBRA
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Exportar</button>                    
                </div>
                <div class="col-3">
                    <select _ngcontent-c7="" class="form-control" id="disabledSelect">
                        <option _ngcontent-c7="">Día</option>
                        <option _ngcontent-c7="">Semana</option>
                        <option _ngcontent-c7="">Mes Actual</option>
                        <option _ngcontent-c7="">Anual</option>                    
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                   <br>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped mb-0">
                    <thead>
                    <tr>
                        <th class="date">
                            Fecha
                        </th>
                        <th>
                            Nº Depósito
                        </th>
                        <th>
                            Nº Orden
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Apellido
                        </th>
                        <th>
                            Monto
                        </th>                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="Fecha" class="date">
                            10/03/2018
                        </td>
                        <td data-title="Deposito">
                            19000888832222
                        </td>
                        <td data-title="Orden">
                            123
                        </td>
                        <td data-title="Nombre">
                            Maria
                        </td>
                        <td data-title="Apellido">
                            Gomez
                        </td>
                        <td data-title="Monto" class="numeric">
                            99.99
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Fecha" class="date">
                            10/03/2018
                        </td>
                        <td data-title="Deposito">
                            19000888832222
                        </td>
                        <td data-title="Orden">
                            123
                        </td>
                        <td data-title="Nombre">
                            Maria
                        </td>
                        <td data-title="Apellido">
                            Gomez
                        </td>
                        <td data-title="Monto" class="numeric">
                            99.99
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>