<div class="card">
    <div class="card-header">Crear Usuario Punto de Venta</div>
    <div class="card-body">
        <p>Formulario de nuevo usuario de punto de venta</p>
        <div class="form-group row justify-content-md-center">
            <label for="example-text-input" class="col-2 col-form-label">Nombre Empresa Filial</label>
            <div class="col-4">
              <input class="form-control" type="text" placeholder="Nombre Empresa Filial" id="nombreEmpresa-pv">
            </div>
          </div>
        <div class="form-group row justify-content-md-center">
          <label for="example-text-input" class="col-2 col-form-label">Nombre</label>
          <div class="col-4">
            <input class="form-control" type="text" placeholder="Nombre" id="nombre-pv">
          </div>
        </div>
        <div class="form-group row justify-content-md-center">
          <label for="example-search-input" class="col-2 col-form-label">Apellido</label>
          <div class="col-4">
            <input class="form-control" type="text" placeholder="Apellido" id="apellido-pv">            
          </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <label for="example-search-input" class="col-2 col-form-label">Cédula</label>
            <div class="col-4">
              <input class="form-control" type="number" placeholder="19123987" id="cedula-pv">            
            </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <label for="example-search-input" class="col-2 col-form-label">Provincia</label>
            <div class="col-4">
              <input class="form-control" type="text" placeholder="Provincia" id="provincia-pv">            
            </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <label for="example-search-input" class="col-2 col-form-label">Cantón</label>
            <div class="col-4">
              <input class="form-control" type="text" placeholder="Canton" id="canton-pv">            
            </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <label for="example-search-input" class="col-2 col-form-label">Parroquia</label>
            <div class="col-4">
              <input class="form-control" type="text" placeholder="Parroquia" id="parroquia-pv">            
            </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <label for="example-search-input" class="col-2 col-form-label">Dirección</label>
            <div class="col-4">
              <input class="form-control" type="text" placeholder="Dirección" id="direccion-pv">            
            </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <label for="example-search-input" class="col-2 col-form-label">Teléfono</label>
            <div class="col-4">
              <input class="form-control" type="tel" placeholder="593-(990)-790-5555" id="telefono-pv">            
            </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <label for="example-search-input" class="col-2 col-form-label">Teléfono Oficina</label>
            <div class="col-4">
              <input class="form-control" type="tel" placeholder="593-(256)-555-5555" id="telefonoOficina-pv">            
            </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <label for="example-search-input" class="col-2 col-form-label">Usuario</label>
            <div class="col-4">
              <input class="form-control" type="text" placeholder="Usuario" id="usuario-pv">            
            </div>
        </div>
        <div class="form-group row justify-content-md-center">
          <label for="example-email-input" class="col-2 col-form-label">Correo</label>
          <div class="col-4">
            <input class="form-control" type="email" placeholder="bootstrap@example.com" id="correo-pv">
          </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
       
      </div>
  </div>