<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle bg-green text-white icon icon-basic-anticlockwise">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          90
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Total Consultas</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle bg-blue text-white icon icon-basic-archive-full">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          30
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Total Pacientes</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle bg-teal text-white icon icon-weather-star">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          10
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Profesionales</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle bg-red text-white icon icon-ecommerce-bag">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          100
        </h5>
        <small class="text-muted text-uppercase ">
          <strong></strong>
        </small>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            Gráfica Semanal Precio
          </div>
          <div class="card-subtitle text-capitalize ff-sans">
            Precios de la semana agrupado por Provincia
          </div>
        </div>
      </div>
      <div class="mb-1">
        <ngx-charts-area-chart-stacked (legendlabelclick)="onLegendLabelClick($event)" (select)="select($event)" [curve]="curve" [gradient]="gradient" [legend]="showLegend" [results]="dateData" [roundDomains]="roundDomains" [scheme]="colorScheme" [schemeType]="schemeType" [showGridLines]="showGridLines" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [timeline]="timeline" [tooltipDisabled]="tooltipDisabled" [xAxis]="showXAxis" [xAxisLabel]="xAxisLabel" [yAxis]="showYAxis" [yAxisLabel]="yAxisLabel" class="line-container">
        </ngx-charts-area-chart-stacked>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            Gráfica Precio Día
          </div>
          <div class="card-subtitle text-capitalize ff-sans">
            Precios del Día por Punto de Venta
          </div>
        </div>
      </div>
      <div class="mb-1">
        <ngx-charts-gauge (legendlabelclick)="onLegendLabelClick($event)" (select)="select($event)" [angleSpan]="gaugeAngleSpan" [bigSegments]="gaugeLargeSegments" [legend]="showLegend" [margin]="margin ? [marginTop, marginRight, marginBottom, marginLeft] : null" [max]="gaugeMax" [min]="gaugeMin" [results]="single" [scheme]="colorScheme" [showAxis]="gaugeShowAxis" [smallSegments]="gaugeSmallSegments" [startAngle]="gaugeStartAngle" [textValue]="gaugeTextValue" [tooltipDisabled]="tooltipDisabled" [units]="gaugeUnits" class="gauge-container">
        </ngx-charts-gauge>
      </div>
    </div>
  </div>
</div> -->
<div class="row">
    <div class="col-md-6 col-xl-8">
        <div class="">
          <div  class="card-header no-shadow">
              Consultas Confimadas Hoy
          </div>
          <div class="table-responsive">
              <table  class="table align-middle table-bordered  mb-0">
                <thead >
                  <tr >
                    <th colspan="2">Paciente</th>
                    <th >Doctor</th>
                    <th >Fecha</th>
                    <th >Hora</th>
                    <th >Servicio</th>
                    <th >Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="2">
                      <img alt="" class="avatar-md rounded-circle" src="/assets/images/avatar-hombre.png" aling="center">                        
                      <a class="d-block text-capitalize">mr karl johnson</a>
                      <small>organicbutterfly786</small>
                    </td>
                    <td>
                        <a class="d-block text-capitalize">Dr José Mata</a>
                    </td>
                    <td>20/03/2018</td>
                    <td>
                      2:00pm
                    </td>
                    <td>
                        <a>Consulta de Control</a>
                    </td>
                    <td>
                      <button class="btn btn-warning mr-1 mb-1" type="button" aling="center">
                        <i class="icon icon-software-pencil"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <img alt="" class="avatar-md rounded-circle" src="/assets/images/avatar-niño.jpg" aling="center">                        
                      <a class="d-block text-capitalize">mr karl johnson</a>
                      <small>organicbutterfly786</small>
                    </td>
                    <td>
                        <a class="d-block text-capitalize">Dr José Mata</a>
                    </td>
                    <td>20/03/2018</td>
                    <td>
                      2:30pm
                    </td>
                    <td>
                        <a>Consulta de Control</a>
                    </td>
                    <td>
                      <button class="btn btn-warning mr-1 mb-1" type="button" aling="center">
                        <i class="icon icon-software-pencil"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                        <img alt="" class="avatar-md rounded-circle" src="/assets/images/avatar-niña.jpg" aling="center">                        
                        <a class="d-block text-capitalize">mr karl johnson</a>
                        <small>organicbutterfly786</small>
                      </td>
                      <td>
                          <a class="d-block text-capitalize">Dr José Mata</a>
                      </td>
                      <td>20/03/2018</td>
                      <td>
                        3:00pm
                      </td>
                      <td>
                          <a>Consulta de Control</a>
                      </td>
                      <td>
                        <button class="btn btn-warning mr-1 mb-1" type="button" aling="center">
                          <i class="icon icon-software-pencil"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                          <img alt="" class="avatar-md rounded-circle" src="/assets/images/avatar-mujer.jpg" aling="center">                        
                          <a class="d-block text-capitalize">mr karl johnson</a>
                          <small>organicbutterfly786</small>
                        </td>
                        <td>
                            <a class="d-block text-capitalize">Dr José Mata</a>
                        </td>
                        <td>20/03/2018</td>
                        <td>
                          2:30pm
                        </td>
                        <td>
                            <a>Consulta de Control</a>
                        </td>
                        <td>
                          <button class="btn btn-warning mr-1 mb-1" type="button" aling="center">
                            <i class="icon icon-software-pencil"></i>
                          </button>
                        </td>
                      </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-4">
      <div class="card">
        <div class="card-header no-shadow">
          Doctores/Asistentes
        </div>
        <ul class="list-group border-0">
          <li class="list-group-item border-top-0 border-left-0 border-right-0">
            <div class="d-flex align-items-center">
              <a class="pull-left avatar-sm">
                <img  class="img-fluid rounded-circle" src="assets/images/face1.jpg">
              </a>
              <div class="pl-3">
                <a class="d-block">
                  Dr. José Mata
                </a>
                <span style="color:blue;">
                  Pediatra, Cirujano 
                </span>
              </div>
            </div>
          </li>          
          <li class="list-group-item border-top-0 border-left-0 border-right-0">
              <div class="d-flex align-items-center">
                <a class="pull-left avatar-sm">
                  <img  class="img-fluid rounded-circle" src="assets/images/avatar-doctora.jpg">
                </a>
                <div class="pl-3">
                  <a class="d-block">
                    Dr. María De Mata
                  </a>
                  <span style="color:blue;">
                    Pediatra, Cirujano 
                  </span>
                </div>
              </div>
            </li>
        </ul>
      </div>
    </div>
    
      <!-- <div _ngcontent-c3="" class="card bg-indigo card-inverse">
        <div _ngcontent-c3="" class="card-header no-shadow">
          Tweets
        </div>
        <div _ngcontent-c3="" class="list-group">
          <div _ngcontent-c3="" class="list-group-item list-group-item-action flex-column align-items-start no-bg text-white">
            <p _ngcontent-c3="" class="mb-1 w-100">
              Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.
            </p>
            <div _ngcontent-c3="" class="d-flex w-100 justify-content-between">
              <div _ngcontent-c3="">
                <a _ngcontent-c3="" class="text-white" href="javascript:;">
                  <i _ngcontent-c3="" class="icon icon-basic-heart">
                  </i>
                </a>
                <a _ngcontent-c3="" class="text-white" href="javascript:;">
                  <i _ngcontent-c3="" class="icon icon-basic-share mr-3 ml-3">
                  </i>
                </a>
              </div>
              <small _ngcontent-c3="">
                3m
              </small>
            </div>
          </div>
          <div _ngcontent-c3="" class="list-group-item list-group-item-action flex-column align-items-start no-bg text-white">
            <p _ngcontent-c3="" class="mb-1 w-100">
              Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.
            </p>
            <div _ngcontent-c3="" class="d-flex w-100 justify-content-between">
              <div _ngcontent-c3="">
                <a _ngcontent-c3="" class="text-white" href="javascript:;">
                  <i _ngcontent-c3="" class="icon icon-basic-heart">
                  </i>
                </a>
                <a _ngcontent-c3="" class="text-white" href="javascript:;">
                  <i _ngcontent-c3="" class="icon icon-basic-share mr-3 ml-3">
                  </i>
                </a>
              </div>
              <small _ngcontent-c3="">
                3m
              </small>
            </div>
          </div>
          <div _ngcontent-c3="" class="list-group-item list-group-item-action flex-column align-items-start no-bg text-white  border-bottom-0">
            <p _ngcontent-c3="" class="mb-1 w-100">
              Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.
            </p>
            <div _ngcontent-c3="" class="d-flex w-100 justify-content-between">
              <div _ngcontent-c3="">
                <a _ngcontent-c3="" class="text-white" href="javascript:;">
                  <i _ngcontent-c3="" class="icon icon-basic-heart">
                  </i>
                </a>
                <a _ngcontent-c3="" class="text-white" href="javascript:;">
                  <i _ngcontent-c3="" class="icon icon-basic-share mr-3 ml-3">
                  </i>
                </a>
              </div>
              <small _ngcontent-c3="">
                3m
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div _ngcontent-c3="" class="col-md-6 col-xl-4">
      <div _ngcontent-c3="" class="card">
        <div _ngcontent-c3="" class="card-header no-shadow">
          News Feed
        </div>
        <ul _ngcontent-c3="" class="list-group border-0">
          <li _ngcontent-c3="" class="list-group-item border-left-0 border-right-0">
            <div _ngcontent-c3="" class="d-flex justify-content-center">
              <a _ngcontent-c3="" class="pull-left avatar-sm" href="javascript:;">
                <img _ngcontent-c3="" class="img-fluid" src="assets/images/face4.jpg">
              </a>
              <div _ngcontent-c3="" class="pl-3">
                <span _ngcontent-c3="" class="d-block">
                  Donec ullamcorper nulla non metus auctor fringilla.
                </span>
                <small _ngcontent-c3="" class="text-muted">
                  Yesterday
                </small>
              </div>
            </div>
          </li>
          <li _ngcontent-c3="" class="list-group-item border-left-0 border-right-0">
            <div _ngcontent-c3="" class="d-flex justify-content-center">
              <a _ngcontent-c3="" class="pull-left avatar-sm" href="javascript:;">
                <img _ngcontent-c3="" class="img-fluid" src="assets/images/face5.jpg">
              </a>
              <div _ngcontent-c3="" class="pl-3">
                <span _ngcontent-c3="" class="d-block">
                  Donec ullamcorper nulla non metus auctor fringilla.
                </span>
                <small _ngcontent-c3="" class="text-muted">
                  Yesterday
                </small>
              </div>
            </div>
          </li>
          <li _ngcontent-c3="" class="list-group-item border-left-0 border-right-0  border-bottom-0">
            <div _ngcontent-c3="" class="d-flex justify-content-center">
              <a _ngcontent-c3="" class="pull-left avatar-sm" href="javascript:;">
                <img _ngcontent-c3="" class="img-fluid" src="assets/images/face1.jpg">
              </a>
              <div _ngcontent-c3="" class="pl-3">
                <span _ngcontent-c3="" class="d-block">
                  Donec ullamcorper nulla non metus auctor fringilla.
                </span>
                <small _ngcontent-c3="" class="text-muted">
                  Yesterday
                </small>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div> 
  </div>-->