<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle bg-green text-white icon icon-basic-headset">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          90
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Usuarios PV</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle bg-blue text-white icon icon-basic-server2">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          30
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Impresoras</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle bg-teal text-white icon icon-basic-magic-mouse">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          10
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Bones</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle bg-red text-white icon icon-ecommerce-bag">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          100
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Clientes</strong>
        </small>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            Gráfica Semanal Precio
          </div>
          <div class="card-subtitle text-capitalize ff-sans">
            Precios de la semana agrupado por Provincia
          </div>
        </div>
      </div>
      <div class="mb-1">
        <ngx-charts-area-chart-stacked (legendlabelclick)="onLegendLabelClick($event)" (select)="select($event)" [curve]="curve" [gradient]="gradient" [legend]="showLegend" [results]="dateData" [roundDomains]="roundDomains" [scheme]="colorScheme" [schemeType]="schemeType" [showGridLines]="showGridLines" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [timeline]="timeline" [tooltipDisabled]="tooltipDisabled" [xAxis]="showXAxis" [xAxisLabel]="xAxisLabel" [yAxis]="showYAxis" [yAxisLabel]="yAxisLabel" class="line-container">
        </ngx-charts-area-chart-stacked>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            Gráfica Precio Día
          </div>
          <div class="card-subtitle text-capitalize ff-sans">
            Precios del Día por Punto de Venta
          </div>
        </div>
      </div>
      <div class="mb-1">
        <ngx-charts-gauge (legendlabelclick)="onLegendLabelClick($event)" (select)="select($event)" [angleSpan]="gaugeAngleSpan" [bigSegments]="gaugeLargeSegments" [legend]="showLegend" [margin]="margin ? [marginTop, marginRight, marginBottom, marginLeft] : null" [max]="gaugeMax" [min]="gaugeMin" [results]="single" [scheme]="colorScheme" [showAxis]="gaugeShowAxis" [smallSegments]="gaugeSmallSegments" [startAngle]="gaugeStartAngle" [textValue]="gaugeTextValue" [tooltipDisabled]="tooltipDisabled" [units]="gaugeUnits" class="gauge-container">
        </ngx-charts-gauge>
      </div>
    </div>
  </div>
</div>