<div class="card">
    <div class="card-header">Precio de Arete</div>
    <div class="card-body">
        <p>Precio Neto de Arete para os Puntos de Venta</p>
        <div class="form-group row justify-content-md-center">
            <label for="example-text-input" class="col-2 col-form-label">Precio x Und</label>
            <div class="col-4">
                <input class="form-control" type="numeric" placeholder="1.0" id="precio-arete-pv">
            </div>
        </div>
            
        <div class="form-group row justify-content-md-center">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>           
    </div>
</div>

<div class="card">
    <div class="card-header">
        Lista Precios de Aretes
    </div>
    <div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered table-striped mb-0">
        <thead>
            <tr>
                <th>
                    Usuario
                </th>
                <th class="date">
                    Fecha de Registro
                </th>
                <th>
                    Precio
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-title="Usuario">
                    admin
                </td>
                <td data-title="Fecha de Registro" class="date">
                    7/03/2018
                </td>
                <td data-title="Precio">
                    2.09
                </td>
            </tr>
            <tr>
                <td data-title="Usuario">
                    admin
                </td>
                <td data-title="Fecha de Registro" class="date">
                    7/03/2018
                </td>
                <td data-title="Precio">
                    2.09
                </td>
            </tr>
            <tr>
                <td data-title="Usuario">
                    admin
                </td>
                <td data-title="Fecha de Registro" class="date">
                    7/03/2018
                </td>
                <td data-title="Precio">
                    2.09
                </td>
            </tr>
        </tbody>
        </table>
    </div>
    </div>
</div>